<div class="card">
    <h2 class="page-title">New Comment</h2>
    <form class="form">
      <div class="form-group">
        <label for="comment-body">Comment:</label>
        <textarea class="form-input" rows="5" cols="255" id="comment-body" name="comment-body" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
    </form>
  </div>