<div class="card">
    <h2 class="page-title">New Comment</h2>
    <form class="form">
      <div class="form-group">
        <label for="comment-body">Comment:</label>
        <textarea class="form-input w-100" rows="5" id="comment-body" name="comment-body"
        {{#if edit}}
        value="{{comment.content}}"
        {{/if}}
        ></textarea>
      </div>
      <div class="form-group">
        <input id="submit-comment" class="btn text-white" type="submit" value="Submit" style="background-color: var(--bs-success-text)"/>
      </div>
    </form>
  </div>

  {{#if edit}}
  <script src="/js/editComment.js" type="text/javascript"></script>
  {{else}}
  <script src="/js/createComment.js" type="text/javascript"></script>
  {{/if}}