<section class="card my-3">
  <a href="/posts/{{id}}" class="d-flex justify-content-between flex-no-wrap align-items-center text-decoration-none" style="background-color: var(--bs-dark-text)">
    <header class="text-light align-self-center fs-3">{{title}}</header>
    <p class="fs-6 align-self-center text-light">{{createdDate}}</p>
  </a>
</section>