<section class="card">
  <header class="d-flex justify-content-between flex-no-wrap">
    <h4>{{title}}</h4>
    <p class="fs-6">{{createdDate}}</p>
  </header>
  <section class="card-body"
</section>